.sidebar__section-header {
  padding: 0 0 6.458333rem 0;
}
.sidebar__header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.sidebar__section-profile {
  padding: 0 0 6.458333rem 0;
}
.sidebar__content__section-questionlist {
  padding: 0 0 .69444rem 0;
}
.sidebar__content-download {
  padding: 0 0 50rem;
}