.preview {
  display: block;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 
    0 1px 9px 0 rgba(0, 0, 0, 0.12), 
    0 4px 4px 0 rgba(0, 0, 0, 0.14);
    
  border-radius: .625rem;
  -moz-border-radius: .625rem;
  -webkit-border-radius: .625rem;

  overflow: hidden;

  background-color:#ffffff;
}
.preview__section-title {
  padding: 1.3888rem 1.3888rem 0 1.3888rem;

  min-height: 9.51388rem;
}
.preview__section-progress { padding: 0 1.3888rem .69444rem 1.3888rem; }