h1 {
  font-size: 6.5277rem;
  text-transform: uppercase;
  font-weight: 900;
}
h2 {
  font-size: 3.40277rem;
  font-weight: 600;
}
h3 {
  font-size: 2.430555rem;
  font-weight: 700;
}
h4 {
  font-size: 1.73611rem;
  font-weight: 600;
}
h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
h6 {
  font-size: 1.04rem;
  font-weight: 600;
}
.title {
  display: inline-block;

  font-family: "SFProDisplay", sans-serif;
  line-height: normal;
}

.title--default {
  color: var(--color);
}
.title--white {
  color: var(--background);
}
.title--grey {
  color: var(--brown-grey);
}
.title--primary {
  color: var(--primary-color);
}
.title--purple {
  color: var(--purple-blue);
}
.title--transparent {
  color: #ffffff;
  opacity: 0.2;
}
