.questionlist { padding: 0 12.70833rem 0 0; }
.questionlist__section-progressbar { padding: 4.444rem 0 6.38889rem 0; }
.questionlist__section-counter { padding: 0 0 .8333rem 0; }
.questionlist__section-title { padding: 0 8.9444rem .5556rem 0; }
.questionlist__section-description { padding: 0 17.9444rem 3.2777rem 0; }
.questionlist__section-field { padding: 0 0 5.069444rem 0; }
.questionlist__section-settings { padding: 0 0 13.3333rem 0; }
.questionlist__section-actions {
  position: fixed;

  bottom: 5.8333rem;
  left: 14.9305556rem;
}

.questionlist__actions { display: flex; }
.questionlist__actions__section { padding: 0 1.180555rem 0 0; }
.questionlist__actions__section-prev {}
.questionlist__actions__section-next {}

.questionlist__settings::before {
  width: 2.638rem;
  height: .13888rem;

  background-color: #7f7f7f;

  content: "";
  display: block;
}
.questionlist__settings__section {
  padding: .902rem 0 0 0;
}

.questionlist__symbols {
  font-family: 'SFProDisplay';
  font-weight: 700;
}

.questionlist__additional__section-title {
  padding: 0 0 1.736111rem 0;
}

.questionlist__recommendation__section { padding: 0 2.0833rem 3.819444rem 0; }

.questionlist__main__section { padding: 0 0 2rem 0; }

.questionlist__text {
  font-weight: 400;
  font-family: 'SFProText', sans-serif; 
}
