@media screen and (max-width: 1024px) {
  .questionlist {
    padding: 0 0 0 0;
    width: 100%;
  }
  .questionlist__section-progressbar {
    display: none;
  }
  .questionlist__section-actions {
    position: inherit;
  }
  .questionlist__section-settings {
    padding: 0 0 6.3888rem 0;
  }
  .questionlist__section-title {
    padding: 0 0 0.5556rem 0;
  }
  .questionlist__section-description {
    padding: 0 0 3.2777rem 0;
  }
  .questionlist__section-field {
    padding: 0 0 5.069444rem 0;
  }
}
