
.topiclist__section-title { padding: 11.805556rem 0 1.25rem 0; }
.topiclist__section-item {  padding: 0 0 3.888rem 0; }

.topiclist__pastylla { padding: 2.15277rem 0 0 0; }
.topiclist__pastylla__section { padding: 0 0 1.388rem 0; }
.topiclist__section-pastylla { display: none; }