@media screen and (max-width: 1024px) {
  .topiclist__section-title {
    padding: 1.25rem 0 1.25rem 0;
  }
  .topiclist__section-pastylla {
    display: block;
  }
  .topiclist__pastylla__header {
    display: flex;
  }
  .topiclist__pastylla__item {
    padding: 1rem 1rem 1rem 0.2rem;
  }
}
