@media screen and (max-width: 1024px) {
  .slider__section-progressbar {
    width: 20.34rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .slider__section-info {
    margin: 0 auto;
  }
  .slider__info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .slider__info__section .text {
    text-align: center;
    display: inline-block;
  }
}