.progress {
  width: 100%;

  position: relative;
}

.progress--default {
  height: .208333rem;

  background-color:#cccccc;
}
.progress--pastylla {
  height: .4791666rem;

  background-color:#f6f6f6;
}

.progress__bar {
  position: absolute;
  height: 100%;
  min-width: .5rem;

  transition: ease .5s;
  -moz-transition: ease .5s;
  -webkit-transition: ease .5s;

  background-color:#721fd9;
}
