.auth-form__section {
  margin-bottom: 2.8472rem;
}
.auth-form__login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.auth-form__login__section-label {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5277rem;
  cursor: default;
}