.notification {
  display: flex;
}
.notification__section-unread {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification__section-content {
  width: calc(100% - 8rem);
}
.notification__section-link {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification__unread--active {
  width: 1rem;
  height: 1rem;
  background: var(--primary-color);
  border-radius: 50%;
}
.notification__link__icon {
  width: 3rem;
}
