.icon {
  display: block;

  width: inherit;
  height: auto;

  background: none;
}
.icon---left {
  transform: scale(-1, -1);
}
.icon---right {
  transform: scale(1, 1);
}
.icon---down {
  transform: scale(1, 1) rotate(90deg);
}
.icon---up {
  transform: scale(-1, -1) rotate(90deg);
}

.icon--white .icon__zone {
  stroke: var(--white);
}
