.text-25 {
  font-size: 1.7361rem;
  line-height: normal;
}
.text-18 {
  font-size: 1.25rem;
  line-height: normal;
}
.text-16 {
  font-size: 1.1111rem;
  line-height: normal;
}
.text-14 {
  font-size: .9722rem;

  line-height: 1.29;
}

.text {
  font-family: inherit;
}

.text--default {
  color: var(--color);
}

.text--heavy {
  font-weight: 900;
}

.text--white {
  color: var(--white);
}

.text--gray {
  color:  var(--brown-grey);
}
.text--grey {
  color:  var(--brown-grey);
}