.download {
  padding: 15vh 0 0 0;
}
.download__section-title {
  width: 20rem;
}
.download__section-subtitle {
  padding: 1rem 0 0 0;
}
.download__section-conditions {
  padding: 2rem 0 0 0;
}
.download__conditions__item {
  display: flex;
  align-items: center;
  padding: 0 0 2rem 0;
}
.download__conditions__item__section-title {
  width: 11rem;
  padding: 0 4rem 0 0;
}
.sidebar__content__section-download {
  padding: 2rem 0 0 0;
}
.download__section-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.download__button {
  width: 100%;
  text-align: center;
  padding: 2.29rem 26.38rem;
  background-color: var(--primary-color);
}
.download__advice {
  display: flex;
  align-items: center;
}
.download__advice__section-text {
  padding: 0 3rem 0 0;
}
