.link { 
  cursor: pointer;

  transition: ease .5s; 

  display: flex;
  align-items: center;
}
.link__section-before { width: 2.6388rem; }
.link-11 { 
  font-size: .76388rem; 

  text-transform: uppercase;
}
.link-15 { font-size: 1.041666rem; }
.link-16 { font-size: 1.1111rem; font-weight: 700 }
.link-22 { font-size: 1.52777rem; }

.link--dark { color: var(--dark); }

.link--white { color: var(--color); }
.link--white:hover { color: var(--active); }

.link--tiffany { color: var(--active); }
.link--light-gray { color: var(--light-gray); }
.link--gray { color: var(--gray); }