.profile__section-photo {
  text-align: right;
}
.profile__photo {
  display: inline-block;

  width: 3.75rem;
  height: 3.75rem;
  
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;

  background-color:#e4e4e4;
}
.profile__drawer__section {
  padding: 0 3rem 2.778rem;
}
.profile__edit__section {
  padding: 0 3rem 2.778rem;
}
.profile__notifications__section {
  padding: 0 3rem 2.778rem;
}