.tariff__section {
  padding: 0 0 2rem 0;
}

.tariff__header {
  display: flex;
  width: 100%;
}
.tariff__header__section {
  display: inline-block;
  width: auto;
}
.tariff__header__section-title {
  margin: 0 1rem 0 0;
}
.tariff__header__section-name {
  margin: 0 auto 0 0;
}

.tariff__next__section {
  display: inline-block;
  width: auto;
}
.tariff__next__section-title,
.tariff__next__section-button {
  display: block;
  width: 100%;
}
.tariff__next__section-title {
  margin: 0 0 1rem 0;
}
.tariff__next__section-button {
  margin: 1rem 0 0 0;
}
.tariff__next__section-cost {
  margin: 0 2rem 0 0;
}

.tariff__method__item {
  width: 100%;
  display: flex;
}
.tariff__method__item__section {
  display: inline-block;
  width: auto;
}
.tariff__method__section-title,
.tariff__method__section-button {
  display: block;
  width: 100%;
}
.tariff__method__section-title {
  margin: 0 0 1rem 0;
}
.tariff__method__section-button {
  margin: 1rem 0 0 0;
}
.tariff__method__item__section-name {
  margin: 0 2rem 0 0;
}
.tariff__method__item__section-description {
  margin: 0 auto 0 0;
}
