.orderedList {
  list-style-type: none;
}
.orderedList__item { 
  display: flex;

  padding: 0 0 2.36111rem 0;
}
.orderedList__item__section-counter { padding: 0 .5555rem 0 0; }

.orderedList__counter {
  display: block;

  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;

  background-color:rgba(114, 31, 217, .1);
  
  color:#721fd9;

  width: 1.666rem;
  height: 1.666rem;

  text-align: center;
  line-height: 1.777rem;

  font-size: .97222rem;
  font-weight: 600;
}
.orderedList__title {
  font-size: .97222rem;
  font-weight: 400;
  font-family: 'SFProText', sans-serif; 
}