.signup {
  display: flex;
  height: 100vh;
}
.signup__section {
  width: 50%;
  height: 100%;
}
.signup__auth {
  width: 27.5rem;
  margin-top: 11.875rem;
  margin-right: 7.916rem;
  margin-left: auto;
}
.signup__auth__section-header {
  margin-bottom: 7.4305rem;
}
.signup__section-faq {
  background-color: var(--color);
  overflow: hidden;
}
.signup__faq {
}
.signup__faq__header__section-subtitle {
  opacity: 0.5;
}
.signup__faq__section-header {
  width: 29.652rem;
  margin-bottom: 5.52rem;
  margin-top: 11.11rem;
  margin-left: 6.66rem;
}
.signup__faq__section-slider {
  padding-left: 3rem;
}
