html {
  --purple-blue: #721fd9;
  --reddish-pink: #f73859;
  --unknown-pink: #ed3a54;
  --brown-grey: #7f7f7f;
  --very-light-pink: #cccccc;
  --yellow: #ffda53;
  --black: #000000;
  --white: #ffffff;
  --unknown-grey: #f6f6f6;

  --background: var(--white);
  --background-alternate: var(--black);
  --background-light: var(--unknown-grey);
  --color: var(--black);
  --primary-color: var(--reddish-pink);
  --alternate-color: var(--purple-blue);
}
@media screen and (max-width: 450px) {
  html {
    --background-alternate: var(--very-light-pink);
    --primary-color: var(--purple-blue);
    --alternate-color: var(--reddish-pink);
  }
}
