@font-face {
  font-family: 'SFProDisplay';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/OpenType/SF-Pro-Display-Light.otf') format('opentype');
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/OpenType/SF-Pro-Display-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/OpenType/SF-Pro-Display-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 700;
  font-style: bold;
  src: url('/assets/fonts/OpenType/SF-Pro-Display-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 900;
  font-style: bold;
  src: url('/assets/fonts/OpenType/SF-Pro-Display-Black.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/OpenType/SF-Pro-Text-Regular.otf') format('opentype');
}