@media screen and (max-width: 450px) {
  .progress-bar__section {
    width: 1rem;
    margin-right: .44rem;
  }
  .progress-bar__item {
    width: 100%;
    height: 1rem;
    background-color: var(--brown-grey);
    transition: background-color .5s ease;
    border-radius: 50%;
  }
  .progress-bar__item--active {
    background-color: var(--primary-color);
    transition: background-color .5s ease;
  }
}