.progress-bar {
  display: flex;
}
.progress-bar__section {
  width: 2.875rem;
  margin-right: .44rem;
}
.progress-bar__item {
  width: 100%;
  height: 0.277rem;
  background-color: var(--background-alternate);
  transition: background-color .5s ease;
}
.progress-bar__item--active {
  background-color: var(--primary-color);
  transition: background-color .5s ease;
}