.layout {}

.layout--black {
  background: var(--background-alternate);
  min-height: 100%;
}
.layout__section-actionbar {
  width: 7.013888rem;

  padding: 3.819444rem 0 0 2.91666rem;

  position: fixed;
  left:0;
  top:0;
}
.layout__section-content {
  width: 100%;

  padding: 0 24.097222rem 0 14.816111rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.layout__section-sidebar {
  width: 24.791666rem;

  padding: 2.70833rem 2.91666rem 0 0;

  position: fixed;
  right:0;
  top:0;
}
.layout__section-profile {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1rem 0 0;
}