@media screen and (max-width: 1024px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
  .layout__section-actionbar,
  .layout__section-sidebar,
  .layout__section-content {
    position: inherit;
    padding: 2.7778rem;
    width: auto;
  }
  .layout__section-content {
  }
  .layout__section-sidebar {
    background: var(--background-light);
  }

  .layout--topic-pastylla .layout__section-actionbar {
    order: 1;
  }
  .layout--topic-pastylla .layout__section-content {
    order: 3;
  }
  .layout--topic-pastylla .layout__section-sidebar {
    order: 2;
    display: none;
  }
}
