.topic {
  cursor: pointer;
}
.topic__tags { display: flex; }
.topic__title { 
  font-weight: 700;
  font-size: 2.430555rem;
}
.topic__section-title { padding: 0 0 .555rem 0; }
.topic__section-description { padding: 0 0 1.5922rem 0; }

.topic__tags__section { padding: 0 .8333rem 0 0; }

