.input {
  position: relative;
}
.input-disabled {
  opacity: 0.5;
}
.input-profile {
}
.input--error {
  color: #e34234;
}

.input-required::after {
  content: "*";
  color: #e34234;

  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;

  text-align: center;

  width: 1rem;
  height: 1rem;
}

.input__section {
  transition: ease 0.5s;
  position: relative;
}
.input__section-placeholder {
  position: absolute;
  top: 1.75rem;

  z-index: 0;
}
.input__section-label {
  position: absolute;
  top: 0;

  z-index: 0;
}
.input__section-field {
  padding: 1.2rem 0 0.3625rem 0;

  z-index: 1;
}
.input__field {
  display: block;

  font-size: 1.25rem;

  width: 100%;
  height: 2.08rem;
  background-color: transparent;

  border-bottom: 0.00625rem solid #dfdfdf;
  padding: 0 0 0.75rem 0;

  transition: ease 0.5s;

  position: relative;
}
.input__field-profile {
  background-color: var(--white);
  border: none;
  border-radius: 0.25rem;

  color: var(--color);
  width: calc(100% - 3.12rem);
  padding: 1.18rem 1.56rem;
}
.input__field-default:focus {
  border-bottom: 0.00625rem solid #0f0f0f;

  padding: 0 0 0.75rem 0;
}
.input__field-profile:focus {
  border: none;

  padding: 1.18rem 1.56rem;
}
.input__field-error {
  border-bottom: 0.00625rem solid #e34234;

  color: #e34234;
}

.input__label {
  font-size: 1.25rem;

  color: var(--color);

  transition: ease 0.5s;
}
.input__label--focus {
  font-size: 1.25rem;
  font-weight: 700;
}
.input__label--error {
  color: #e34234;
}
.input__error {
  font-size: 0.625rem;

  color: #e34234;

  transition: ease 0.5s;
}
.input__error--hide {
  opacity: 0;
}
.input__error--show {
  opacity: 1;
}
