.roadmap__section { padding: 3.47222rem 0 0 0; }

.roadmap__item__section-description { padding: .41666rem 0 0 0; }

.roadmap__title { font-weight: 900; }

.roadmap__header { display: flex; }
.roadmap__header__section-tag { padding: 0 0 0 .347222rem; }