.slide {
  width: 55.833rem;

  border-radius: .583rem;

  box-shadow: 
    0 2px 4px -1px rgba(0, 0, 0, 0.2), 
    0 1px 9px 0 rgba(0, 0, 0, 0.12), 
    0 4px 5px 0 rgba(0, 0, 0, 0.14);

  overflow:hidden;

  cursor: pointer;

  position: relative;
}
.slide__image { display: block; }
.slide__section {
  position: absolute;

  width: calc(100% - 2.2222rem);

  background-color: rgba(0,0,0,.9);

  padding: .986111rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  left: 1.111rem;

  opacity: 0;

  transition: ease .5s;

  border-radius: .625rem;
}
.slide__section-actionbar { top: 1.111rem; }
.slide__section-template { bottom: 1.1111rem; }

.slide:hover .slide__section { opacity: 1; }

.slide__actionbar {
  display: flex;
}
.slide__actionbar__section {
  width: 33.33%;

  text-align: center;
}
.slide__template {
  display: flex;
}
.slide__template__section {
  padding: 0 .493055rem 0 0;
}
.slide__preview {
  width: 9.9027778rem;
  height: 5.3125rem;

  background-color:#e4e4e4;

  border-radius: .25rem;
}