.button {
  display: inline-block;

  border-radius: 1.875rem;
  -moz-border-radius: 1.875rem;
  -webkit-border-radius: 1.875rem;

  position: relative;

  overflow: hidden;
  cursor: pointer;

  text-transform: inherit;

  background-color: transparent;
}

.button:hover {
  opacity: 0.8;
}

.button-default {
  padding: 1.18rem 1.94rem;
}

.button-medium {
  padding: 1rem 1.9375rem;
}

.button-long {
  padding: 1rem 1.9375rem;
  width: 100%;
}
.button__prefix-medium,
.button__suffix-medium {
  width: 0.625rem;
}

.button--default {
  background-color: var(--primary-color);
  color: var(--background);
}

.button--white {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: var(--background);
  color: var(--color);
}

.button--black {
  color: var(--white);
  background-color: transparent;
  border-radius: 0.2875rem;
  border: 0.07rem solid var(--white);
}


.button--transparent {
  color: var(--white);
  background-color: transparent;
}
.button--transparent .icon__zone { fill: #ffffff; }

.button:disabled {
  background-color: var(--light-dark);
  color: var(--dark);
}

.button__section {
  display: inline-block;
  vertical-align: middle;
}
.button__section-prefix,
.button__section-suffix {
  width: 1rem;
  padding: 0 0.8125rem 0 0;
}
.button__section-prefix{
  padding: 0 0.8125rem 0 0;
}
.button__section-suffix {
  padding: 0 0 0 0.8125rem;
}
.button__section-loader {
  background-color: inherit;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

.button__suffix,
.button__prefix {
  position: relative;

  margin: -0.1rem 0 0 0;
}

.button__loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 1vw;
  height: 1vw;

  margin: auto;

  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;

  border-top: 0.1vw solid #ffffff;
  border-left: 0.1vw solid #ffffff;

  -webkit-animation-name: rotation;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: rotation;
  -moz-animation-duration: 0.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -o-animation-name: rotation;
  -o-animation-duration: 0.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

  animation-name: rotation;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.button__loading-active {
  opacity: 1;
}
.button__loading-inactive {
  opacity: 0;
}
