.drop {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;

  position: relative;

  overflow: hidden;
  cursor: pointer;

  text-transform: inherit;

  width: 3.75rem;
  height: 3.75rem;

  box-sizing: border-box;
  margin: 0.208rem;

  box-shadow: 0 0.0694rem 0.208rem 0 rgba(0, 0, 0, 0.2),
    0 0.138rem 0.0694rem -0.0694rem rgba(0, 0, 0, 0.12),
    0 0.0694rem 0.0694rem 0 rgba(0, 0, 0, 0.14);
  border: 0.34rem solid var(--yellow);
  background-color: var(--yellow);
}

.drop--default {
  box-shadow: 0 0.0694rem 0.208rem 0 rgba(0, 0, 0, 0.2),
    0 0.138rem 0.0694rem -0.0694rem rgba(0, 0, 0, 0.12),
    0 0.0694rem 0.0694rem 0 rgba(0, 0, 0, 0.14);
  border: 0.34rem solid var(--yellow);
  background-color: var(--yellow);
}

.drop:hover {
  box-shadow: 0 0px 0.138rem 0 rgba(0, 0, 0, 0.2),
    0 0.0694rem 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.14);
}

.drop:disabled {
  background-color: var(--light-dark);
  color: var(--dark);
}

.drop__section-circle {
  background-color: var(--white);
  width: 2.708rem;
  height: 2.708rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop--transparent .drop__section-circle {
  background-color: transparent;
}
.drop__circle {
  width: 1.667rem;
}
