.tag {
  display: block;
  cursor: pointer;
}
.tag-default {
  padding: .76388rem 1.52777rem .763888rem 1.319444rem;

  border-radius: 1.319444rem;
  -moz-border-radius: 1.319444rem;
  -webkit-border-radius: 1.319444rem;

  box-shadow: 
    0 1px 3px 0 rgba(0, 0, 0, 0.2), 
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 
    0 1px 3px 0 rgba(0, 0, 0, 0.2), 
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 
    0 1px 3px 0 rgba(0, 0, 0, 0.2), 
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.tag-rectangle {
  padding: .2777rem .680272rem .347222rem .8333rem;

  border-radius: .2777rem;
  -moz-border-radius: .2777rem;
  -webkit-border-radius: .2777rem;

  font-size: .9722rem;
  font-weight: 900;
}

.tag--purple {
  background-color:rgba(114, 31, 217, 0.11);

  color:var(--purple-blue);
}

.tag--dark {
  background-color:rgba(237, 237, 237, 0.2);

  color:var(--white);
}
.tag--dark-active {
  background-color:rgba(237, 237, 237, 0.2);

  color:var(--white);
  box-shadow:0 0 0 0.2rem var(--unknown-pink);
}