.drop-down-list__section-title {
  padding: 0 0 1.944rem 2.1967rem;
  cursor: pointer;
}
.drop-down-list__title {
  font-family: SFProText;
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--background);
}

.drop-down-list__list__section {
  padding: 0 0 0 4.027rem;
  margin: 0 0 1.944rem 0;
  height: 1.944rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.drop-down-list__list__section--current::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0.5rem;
  background-color: var(--primary-color);
}

.drop-down-list__list__item--previous {
  font-size: 1rem;
  font-weight: 900;
  color: var(--background);
}
.drop-down-list__list__item--current {
  font-size: 1rem;
  font-weight: 900;
  color: var(--primary-color);
}
.drop-down-list__list__item--next {
  opacity: 0.7;
  font-size: 1rem;
  font-weight: 900;
  color: var(--background);
}
