@media screen and (max-width: 450px) {
  .auth {
    width: 100%;
    overflow: hidden;
  }
  .auth__section {
    width: 100%;
    position: inherit;
    transform: translateY(0);
  }
  .auth__section-action {
    padding: 1rem 1rem 0 1rem;
    border-radius: 2rem;
    transform: translateY(13vh);
  }
  .auth__action__section-content {
    padding: 3rem 0 0 0;
  }
  .auth__action__section-brand {
    display: none;
  }
  .auth__action__section-tabs {
    display: block;
  }
  .auth__section-onboarding {
    padding: 10vh 0 1vh 0;
    background-color: var(--background-alternate);
  }
  .auth__section-onboarding .title {
    color: var(--color);
  }
  .auth__onboarding__section-button {
    padding: 5vh 0 0 0;
  }
  .auth__section--hidden {
    position: absolute;
    display: none;
    transform: translateY(100vh);
    transition: transform 1s ease;
  }
  .auth__section--hidden-no-transition {
    position: absolute;
    z-index: -10;
  }
}
