.auth {
  display: flex;
  min-height: 100vh;
}
.auth__section {
  width: 50%;
}
.auth__section-action {
  padding: 10vh 7.916rem 0 14.583rem;
  background: var(--background);
}
.auth__section-onboarding {
  padding: 10vh 0 5.52rem 0;

  background-color: var(--color);
}

.auth__action__section-content {
  padding: 7.430555rem 0 0 0;
}

.auth__onboarding__section-subtitle {
  opacity: 0.5;

  padding: 0 13.68055rem 0 6.66rem;
}
.auth__onboarding__section-title {
  padding: 0 13.68055rem 0 6.66rem;
}
.auth__onboarding__section-slider {
  padding: 0 0 0 3rem;
}
.auth__onboarding__section-brand,
.auth__action__section-brand,
.auth__action__section-tabs {
  display: none;
}
.auth__onboarding__section-button {
  display: none;
}
