@media screen and (max-width: 1024px) {
  .auth {
    width: 100%;
    overflow: hidden;
  }
  .auth__section {
    width: 100%;
    position: inherit;
    transform: translateY(0);
  }
  .auth__onboarding__section-brand,
  .auth__action__section-brand {
    display: inline-block;
    position: absolute;
    top: 3rem;
    left: 50%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 0.3819rem;
    transform: translateX(-50%);
  }
  .auth__action__section-brand {
    top: 7rem;
  }
  .auth__section-action {
    padding: 11.08rem 10.08rem 0 10.08rem;
    transition: transform 1s ease;
  }
  .auth__action__section-title,
  .auth__action__section-subtitle {
    display: none;
  }
  .auth__action__section-content {
    padding: 13.430555rem 0 0 0;
  }
  .auth__onboarding__section-subtitle {
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    display: none;
  }
  .auth__onboarding__section-title {
    display: none;
  }
  .auth__onboarding__section-button {
    display: block;
    padding: 5rem 0 0 0rem;
    margin: 0 auto;
    width: 20rem;
  }
  .auth__onboarding__section-slider {
    padding: 0;
  }
  .auth__section--hidden {
    position: absolute;
    display: none;
    transform: translateY(100vh);
    transition: transform 1s ease;
  }
  .auth__section--hidden-no-transition {
    position: absolute;
    z-index: -10;
  }
}
