@media screen and (min-width: 1600px) {
  .auth__section-action {
    padding: 10vh 12.5rem 0 15.902777rem;
  }
  .auth__onboarding__section-subtitle {
    opacity: 0.5;

    padding: 0 18.541666rem 0 6.66rem;
  }
  .auth__onboarding__section-title {
    padding: 0 18.541666rem 0 6.66rem;
  }
  .auth__onboarding__section-slider {
    padding: 0 0 0 7.01388rem;
  }
}
