.drawer {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  width: 30rem;
  top: 0;
  right: 0;
  background-color: var(--background-alternate);
}

.drawer--open {
  transform: translateX(0rem);
  display: block;
  transition: transform 0.5s ease;
}

.drawer--closed {
  transform: translateX(30rem);
  width: 0;
  overflow: hidden;
  transition: width 0.5s linear, transform 0.5s ease;
}

.drawer__section-header {
  padding: 3rem 0 3rem 2rem;
}

.drawer__header {
  display: flex;
  align-items: center;
}

.drawer__header__section-icon {
  width: 3.5rem;
}
.drawer__header__section-title {
  margin: 0 auto 0 0;
}
.drawer__header__section-action {
  padding: 0 4rem 0 0;
}
